# Regression Model

**Edit 1: I realized that this model is practically useless since I forgot to include lag the features, and the price transform features are of course highly correlated to the price, hence the R^2 = 1.**

**Edit 2: I will re-do this model.**


Here I will build a regression model to test on cryptocurrency data, to predict prices.

In [1]:
import pandas as pd
import talib
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
df = pd.read_csv("../Data/ADA/ADA_USDT_4h.csv")
df['datetime'] = pd.to_datetime(df['datetime'])
df.set_index('datetime', inplace=True)

df.head(5)

                      open   high    low  close   volume
datetime
2021-10-22 00:00:00  2.141  2.194  2.133  2.185  10918.3
2021-10-22 04:00:00  2.185  2.202  2.185  2.198  26091.8
2021-10-22 08:00:00  2.198  2.208  2.182  2.192  24092.3
2021-10-22 12:00:00  2.192  2.201  2.147  2.151  30423.4
2021-10-22 16:00:00  2.151  2.183  2.142  2.165  17709.4

### Linear Regression

In [3]:
# Recent dataset
# I will check to make sure there's no overlap between the datasets
df.tail(5)

                       open    high     low   close      volume
datetime
2023-12-17 08:00:00  0.5939  0.6036  0.5918  0.6011  1282360.45
2023-12-17 12:00:00  0.6011  0.6021  0.5852  0.5931  3347908.84
2023-12-17 16:00:00  0.5931  0.6108  0.5879  0.5941  2846658.59
2023-12-17 20:00:00  0.5941  0.5984  0.5771  0.5805  2449740.24
2023-12-18 00:00:00  0.5805  0.5812  0.5799  0.5812     7422.13

In [4]:
df_recent = pd.read_csv("../Data/ADA/ADA_USDT_recent.csv")
df_recent['datetime'] = pd.to_datetime(df_recent['datetime'])
df_recent.set_index('datetime', inplace=True)

df_recent.head(5)

                       open    high     low   close      volume
datetime
2023-12-19 00:00:00  0.6020  0.6165  0.5964  0.6103  2793426.89
2023-12-19 04:00:00  0.6103  0.6173  0.6056  0.6083  2556222.31
2023-12-19 08:00:00  0.6083  0.6095  0.5932  0.5939  2752995.52
2023-12-19 12:00:00  0.5939  0.5976  0.5764  0.5814  2173155.18
2023-12-19 16:00:00  0.5814  0.5850  0.5662  0.5790  1927977.29